<div class="container mt-4">
  <div class="row">
    <!-- Top 5 Animes -->
    <div class="col-12 mb-4">
      <h1 class="text-center text-white">Top 5 Animes</h1>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 m-3" *ngFor="let anime of topAnimes">
          <div class="card h-100 bg-black bg-opacity-50 p-2">
            <div style="max-height: 300px; overflow: hidden;">
              <img [src]="anime.images.webp.large_image_url" class="card-img-top" alt="{{ anime.title }}" style="height: 250px; object-fit: cover;">
            </div>
            <div class="d-flex flex-column card-body text-center">
              <h5 class="card-title">
                <a [href]="anime.url" target="_blank" class="text-decoration-none text-white w-75">{{ anime.title }}</a>
              </h5>
              <p class="card-text mt-auto text-white text-opacity-75">Score: {{ anime.score }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Top 5 Peliculas -->
    <div class="col-12 mb-4">
      <h1 class="text-center text-white">Top 5 Películas</h1>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 m-3" *ngFor="let movie of topMovies">
          <div class="card h-100 bg-black bg-opacity-50 p-2">
            <div style="max-height: 300px; overflow: hidden;">
              <img [src]="movie.images.webp.large_image_url" class="card-img-top" alt="{{ movie.title }}" style="height: 250px; object-fit: cover;">
            </div>
            <div class="d-flex flex-column card-body text-center">
              <h5 class="card-title">
                <a [href]="movie.url" target="_blank" class="text-decoration-none text-white">{{ movie.title }}</a>
              </h5>
              <p class="mt-auto card-text text-white text-opacity-75">Score: {{ movie.score }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Top 5 Mangas -->
    <div class="col-12 mb-4">
      <h1 class="text-center text-white">Top 5 Mangas</h1>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 m-3" *ngFor="let manga of topMangas">
          <div class="card h-100 bg-black bg-opacity-50 p-2">
            <div style="max-height: 300px; overflow: hidden;">
              <img [src]="manga.images.webp.large_image_url" class="card-img-top" alt="{{ manga.title }}" style="height: 250px; object-fit: cover;">
            </div>
            <div class="d-flex flex-column card-body text-center">
              <h5 class="card-title">
                <a [href]="manga.url" target="_blank" class="text-decoration-none text-white">{{ manga.title }}</a>
              </h5>
              <p class="mt-auto card-text text-white text-opacity-75">Score: {{ manga.score }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>