<div>
    <h1>Top 5 Animes</h1>
    <ul>
      <li *ngFor="let anime of topAnimes">
        <img [src]="anime.images.webp.large_image_url" alt="{{ anime.title }}">
        <a [href]="anime.url" target="_blank">{{ anime.title }}</a>
        <p>Score: {{ anime.score }}</p>
      </li>
    </ul>
  </div>
  
  <div>
    <h1>Top 5 Mangas</h1>
    <ul>
      <li *ngFor="let manga of topMangas">
        <img [src]="manga.image_url" alt="{{ manga.title }}">
        <a [href]="manga.url" target="_blank">{{ manga.title }}</a>
        <p>Score: {{ manga.score }}</p>
      </li>
    </ul>
  </div>
  
  <div>
    <h1>Top 5 Movies</h1>
    <ul>
      <li *ngFor="let movie of topMovies">
        <img [src]="movie.image_url" alt="{{ movie.title }}">
        <a [href]="movie.url" target="_blank">{{ movie.title }}</a>
        <p>Score: {{ movie.score }}</p>
      </li>
    </ul>
  </div>