<div class="container mt-4">
  <div class="row">
    <div class="col-12 mb-4">
      <input [(ngModel)]="query" (input)="getPokemons()" class="form-control" placeholder="Buscar Pokemon...">
    </div>

    <div class="col-12 mb-4">
      <h1 class="text-center text-white mb-4">Resultados</h1>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-4" *ngFor="let pokemon of pokemons">
          <div id="hov" class="card bg-black bg-opacity-50 p-2 h-100">
            <div id="info" class="a d-flex flex-column justify-content-center align-items-center align-content-center card-body text-center">
              <h5 class="card-title">
                <a [href]="" target="_blank" class="text-decoration-none text-white">{{ pokemon.name | firstUp }}</a>
              </h5>
            </div>
            <div class="d-flex justify-content-center align-content-center flex-column" style="max-height: 390px; overflow: hidden;">
              <img [src]="pokemon.sprites.front_default" class="card-img-bottom mb-auto" alt="{{ pokemon.name }}">
              <div class="mt-auto d-flex justify-content-evenly">
                <p>{{ pokemon.types[0].type.name }}</p>
                <p>{{ pokemon.types[1].type.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
