<div class="container mt-4">
    <div class="row">
      <div class="col-12 mb-4">
        <input [(ngModel)]="query" (input)="getAnimes()" class="form-control" placeholder="Buscar Anime...">
      </div>

      <div class="col-12 mb-4">
        <h1 class="text-center text-white mb-4">Resultados</h1>
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let anime of animes">
            <div id="hov" class="card bg-black bg-opacity-50 p-2 h-100">
              <div style="max-height: 390px; overflow: hidden;">
                <img [src]="anime.images.webp.large_image_url" class="card-img-top" alt="{{ anime.title }}">
              </div>
              <div id="info" class="a d-flex flex-column justify-content-center align-items-center align-content-center card-body text-center">
                <h6 class="card-title">
                  <a [routerLink]="['/detalles', anime.mal_id]" target="_blank" class="text-decoration-none text-white">{{ anime.title }}</a>
                </h6>
                <div class="mt-auto">
                  <p class="sinop card-text text-white text-opacity-75">Puntuacion: {{ anime.score }}</p>
                  <p class="sinop card-text text-white text-opacity-75">Ultimo Capitulo<br>{{ anime.aired.to | dateF }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>