<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <div class="about-template">
                <h1 class="text-white fw-bold">¡Bienvenido a Anime Angular!</h1>

                <div class="about-image mt-3">
                    <img src="https://i.blogs.es/0cafeb/naruto/1366_2000.jpeg" alt="Jeje, Dattebayo!!" class="img-fluid rounded shadow" style="max-width: 450px;">
                </div>

                <div class="about-details mt-3">
                    <p class="fs-5 text-white text-start text-opacity-75">
                        Soy un chavalito de 2ºDAW que le gusta el anime y la programacion, a lo que se llamaba antiguamente como friki, 
                        y este es mi proyecto final de Angular, aquí podras realizar busquedas en la API Jikan, una API con todos los datos
                        de animes y mangas, tienes varias opciones, puedes ver el top 5 en el inicio, o buscar tu manga/anime favorito usando 
                        su respectiva página especializada para realizar busquedas en la API, de forma cómoda y visualmente agradable. Espero 
                        que disfruteis mi página. A que esperas para realizar tu primera búsqueda. DATTEBAYO!!
                    </p>
                    <p class="fs-5 text-white text-start text-opacity-75">
                        Hay que tener paciencia al realizar busquedas, ya que la API no es la más rapida del mundo y tiene limites de 
                        busqueda. A veces puede quedarse pillada y/o cargar bien o cargar por trozos, nada que un buen F5 no arregle.
                    </p>
                    <p class="fs-5 text-white text-start text-opacity-75">
                        Si quereis mas informacion sobre un anime/pelicula/manga podeis pulsar sobre el titulo del mismo y os redirigira a la 
                        pagina de myanimelist con todos los datos de forma mas detallada, si teneis sugerencias, no dudeis en ponerse en contacto conmigo.
                        Y encantado estare viendo las sugerencias y aplicandolas a la web.
                    </p>
                </div>

                <div class="about-actions mt-4">
                    <a href="/" class="btn btn-outline-light btn-lg">
                        <span class="bi bi-house-door"></span> 
                        Volver al Inicio
                    </a>
                    <br>
                    <br>
                    <a href="/contact" class="btn btn-outline-light btn-lg disabled">
                        <span class="bi bi-envelope"></span> 
                        Contactar con Nosotros
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>