<div class="container mt-4">
  <div class="row">
    <div class="col-12 mb-4">
      <input [(ngModel)]="query" (input)="getMovies()" class="form-control" placeholder="Buscar Pelicula...">
    </div>

    <div class="col-12 mb-4">
      <h1 class="text-center text-white mb-4">Resultados</h1>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let movie of movies">
          <div id="hov" class="card bg-black bg-opacity-50 p-2 h-100">
            <div style="max-height: 390px; overflow: hidden;">
              <img [src]="movie.images.webp.large_image_url" class="card-img-top" alt="{{ movie.title }}">
            </div>
            <div id="info" class="a d-flex flex-column justify-content-center align-items-center align-content-center card-body text-center">
              <h6 class="card-title">
                <a [routerLink]="['/detalles/anime', movie.mal_id]" class="text-decoration-none text-white">{{ movie.title }}</a>
              </h6>
              <div class="mt-auto">
                <p class="sinop card-text text-white text-opacity-75">Puntuacion: {{ movie.score }}</p>
                <p class="sinop card-text text-white text-opacity-75">Estreno<br>{{ movie.aired.from | dateF }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>